spring:
  application:
    name: merchant-api-wrapper
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

logging:
  level:
    root: INFO
    com.sabbpe.merchant: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

easebuzz:
  url:
    initiate: https://testpay.easebuzz.in/payment/initiate
    payment: https://testpay.easebuzz.in/pay/
  timeout: 5000
  surl: http://localhost:8080/payment/easebuzz/callback
  furl: http://localhost:8080/payment/easebuzz/callback

server:
  port: 8080
  servlet:
    context-path: /
